extends ../layout

block content
  .container
    h1= survey.title
    h5= survey.createdAt 
    h3
    .well= survey.comment
    
    form(action='/surveys/#{survey.id}/answer', method='POST')
      h1 질문 목록 (#{survey.numQuestions})
      br
      each question in questions
        if question.type === '주관식'
          .form-group
            input.form-control(type='content', id='content', name='content', value=question.content)
            input.form-control(name=question.id, size=40, placeholder='answer') 
        if question.type === '의견'
          .form-group
            input.form-control(type='content', id='content', name='content', value=question.content)
            textarea.form-control(name=question.id, placeholder='answer') 
        if question.type === '객관식'
          .form-group
            input.form-control(type='content', id='content', name='content', value=question.content)
            .radio
              label
                input(type='radio', name=question.id, value=1) 
                span=question.select1
            .radio
              label
                input(type='radio', name=question.id, value=2)
                span=question.select2
            .radio
              label
                input(type='radio', name=question.id, value=3)
                span=question.select3
            .radio
              label
                input(type='radio', name=question.id, value=4) 
                span=question.select4
            .radio
              label
                input(type='radio', name=question.id, value=5) 
                span=question.select5
                
      div.form-actions          
        button.btn.btn-default(type='submit') 응답전송
