extends ../layout
  
block content
  .container
    h1= survey.title
    h5= survey.createdAt
    h3
    .well= survey.comment
    
  .container
    .col-sm-6
      h3 질문 추가
      br
      h3 주관식
      form.form-inline(action='/surveys/' + survey._id + '/questions', method='POST')
        h5 질문
        .form-group
          label.sr-only(for='content') content
          input.form-control(name='content', placeholder='Question')
          input.form-control(name='type', type='hidden', value='주관식')
          button.btn.btn-primary 저장

      br
      h3 객관식
      form.form-inline(action='/surveys/' + survey._id + '/questions', method='POST')
        h5 질문
        .form-group
          label.sr-only(for='content') content
          input.form-control(name='content', placeholder='Question')
          input.form-control(name='type', type='hidden', value='객관식')
        h5 보기
        .form-group
          label.sr-only(for='selection') selection
          input.form-control(name='selection1', placeholder='selection1')
          input.form-control(name='selection2', placeholder='selection2')
          input.form-control(name='selection3', placeholder='selection3')
          input.form-control(name='selection4', placeholder='selection4')  
          input.form-control(name='selection5', placeholder='selection5')  
          button.btn.btn-primary 저장
          
      br
      h3 의견
      form.form-inline(action='/surveys/' + survey._id + '/questions', method='POST')
        h5 질문
        .form-group
          label.sr-only(for='content') content
          input.form-control(name='content', placeholder='Question')
          input.form-control(name='type', type='hidden', value='의견')
          button.btn.btn-primary 저장
      br    
      a.btn.btn-default(href='/surveys/') 설문 목록
      
    .col-sm-6
      h3 질문 목록 (#{survey.numQuestion})
      br
      ul#sheet.list-unstyled
        each question in questions
          li
            b Question #{question.type}
            p= question.content
            if question.type === '주관식'
              .form-inline
                input.form-control(name='answer', placeholder='answer') 
                a#q_button.btn.btn-xs.btn-default(href='/surveys/question/#{question._id}/edit') 수정 
                a#q_button.btn.btn-xs.btn-default(href='/surveys/question/#{question._id}?_method=DELETE') 삭제
            if question.type === '의견'
              .form-group
                textarea.form-control(name='answer', placeholder='answer') 
                a#q_button.btn.btn-xs.btn-default(href='/surveys/question/#{question._id}/edit') 수정 
                a#q_button.btn.btn-xs.btn-default(href='/surveys/question/#{question._id}?_method=DELETE') 삭제
            if question.type === '객관식'
              .radio
                label
                  input(type='radio', name='selection', value=question.selection[0].selection1) 
                  span #{question.selection[0].selection1}
              .radio
                label
                  input(type='radio', name='selection', value=question.selection[0].selection2)
                  span #{question.selection[0].selection2}
              .radio
                label
                  input(type='radio', name='selection', value=question.selection[0].selection3)
                  span #{question.selection[0].selection3}
              .radio
                label
                  input(type='radio', name='selection', value=question.selection[0].selection4) 
                  span #{question.selection[0].selection4}
              .radio
                label
                  input(type='radio', name='selection', value=question.selection[0].selection5) 
                  span #{question.selection[0].selection5}    
              a#q_button.btn.btn-xs.btn-default(href='/surveys/question/#{question._id}/edit') 수정 
              a#q_button.btn.btn-xs.btn-default(href='/surveys/question/#{question._id}?_method=DELETE') 삭제  
