extends ../layout
  
block content
  .container
    h1= survey.title
    h5= survey.createdAt
    h3
    .well= survey.comment
    h5 설문조사 참여하기: 
      a(href='/surveys/#{survey.id}/answer') https://loaclhost:3000/surveys/#{survey.id}/answer
    
  .container
      h1 질문 추가
      h4 주관식
      form.form-inline(action='/surveys/' + survey._id + '/questions', method='POST')
        h5 질문
        .form-group
          label.sr-only(for='content') content
          input.form-control(name='content', size='60', placeholder='질문')
          input.form-control(name='type', type='hidden', value='주관식')
          button.btn.btn-primary 저장

      h4 객관식
      form.form-inline(action='/surveys/' + survey._id + '/questions', method='POST')
        h5 질문
        .form-group
          label.sr-only(for='content') content
          input.form-control(name='content', size='60', placeholder='질문')
          input.form-control(name='type', type='hidden', value='객관식')
        h5 보기
        .form-group
          label.sr-only(for='select') select
          input.form-control(name='select1', placeholder='보기1')
          input.form-control(name='select2', placeholder='보기2')
          input.form-control(name='select3', placeholder='보기3')
          input.form-control(name='select4', placeholder='보기4')  
          input.form-control(name='select5', placeholder='보기5')  
        button.btn.btn-primary 저장
          
      h4 의견
      form.form-inline(action='/surveys/' + survey._id + '/questions', method='POST')
        h5 질문
        .form-group
          label.sr-only(for='content') content
          input.form-control(name='content', size='60', placeholder='질문')
          input.form-control(name='type', type='hidden', value='의견')
          button.btn.btn-primary 저장
      
      h1 질문 목록 ( #{survey.numQuestions} )
      each question in questions
        b #{question.type}
        if question.type === '주관식'
          .form-group
            input.form-control(type='content', id='content', name='content', value=question.content)
            a.btn.btn-default(href='/surveys/question/#{question._id}/edit') 수정 
            a.btn.btn-default(href='/surveys/question/#{question._id}?_method=DELETE') 삭제
        if question.type === '의견'
          .form-group
            input.form-control(type='content', id='content', name='content', value=question.content)
            a.btn.btn-default(href='/surveys/question/#{question._id}/edit') 수정 
            a.btn.btn-default(href='/surveys/question/#{question._id}?_method=DELETE') 삭제
        if question.type === '객관식'
          .form-group
            input.form-control(type='content', id='content', name='content', value=question.content)
          .form-inline
            .radio
              label
                input(type='radio', name='select1', value=question.select1) 
                span=question.select1
            .radio
              label
                input(type='radio', name='select2', value=question.select2)
                span=question.select2
            .radio
              label
                input(type='radio', name='select3', value=question.select3)
                span=question.select3
            .radio
              label
                input(type='radio', name='selec4', value=question.select4) 
                span=question.select4
            .radio
              label
                input(type='radio', name='select5', value=question.select5)
                span=question.select5
            a.btn.btn-default(href='/surveys/question/#{question._id}/edit') 수정
            a.btn.btn-default(href='/surveys/question/#{question._id}?_method=DELETE') 삭제
            
      br    
      a.btn.btn-default(href='/surveys/') 설문 목록        
